$border-color: #e6e6e6;

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;

  // TODO: global mixin?
  .picture-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    z-index: 3;
  }

  .wrapper {
    position: relative;
    margin: 10px;
    padding: 5px;
    height: 200px;
    cursor: pointer;
    border: 1px solid $border-color;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 0px $border-color;
    overflow: hidden;

    &:hover img{
      transform: scale(1.1);
    }

    img {
      height: 200px;
      max-width: 100%;
      min-width: 100%;
      object-fit: cover;
      vertical-align: bottom;
      transition: transform ease-in-out 0.2s;
    }
  }
}