$border-color: #e6e6e6;
$border-color-shaded: shade($border-color, 10%);
$transition-time: 0.2s;

.gallery {
  @extend %no-select;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;

  .wrapper {
    @include fade-in-animation(0.5s);
    position: relative;
    margin: 10px;
    padding: 5px;
    height: 200px;
    cursor: pointer;
    border: 1px solid $border-color;
    border-radius: 6px;
    box-shadow: 0 0 6px 0 $border-color;
    transition: box-shadow ease-in-out $transition-time;
    overflow: hidden;

    &:focus {
      outline: none !important;
    }

    &:hover {
      box-shadow: 0 0 6px 6px $border-color-shaded;
    }

    &:hover img {
      transform: scale(1.1);
    }

    img {
      height: 200px;
      max-width: 100%;
      min-width: 100%;
      object-fit: cover;
      vertical-align: bottom;
      transition: transform ease-in-out $transition-time;
    }
  }
}