@import url('https://fonts.googleapis.com/css?family=Montserrat');

$box-shadow-color: #e6e6e6;
$active-link: #F44336;
$transition-time: 0.5s;
$router-spacing: 10px;

.my-header {
  @extend %no-select;
  position: fixed;
  width: 100%;
  display: flex;
  height: $header-height;
  padding: $header-padding;
  flex-direction: row;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  background-color: white; //TODO: decide global colors
  box-shadow: 0px 2px 10px 0px $box-shadow-color;

  .logo {
    height: 100%;
    align-self: center;

    img {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 60px;
    }

  }

  .links {
    position: absolute;
    display: flex;
    right: 30px;
    bottom: 10px;

    .link {

      &.router-link-exact-active {
        
        div:nth-of-type(1) {
          background-color: $active-link;
        }

        span {
          font-weight: 600;
        }
      }

      div {
        width: calc(100% - #{$router-spacing});
        height: 2px;
        transform: translateX($router-spacing);
        transition: background-color $transition-time;
      }
    
      span {
        cursor: pointer;
        margin-left: $router-spacing;
      }
  
      span:hover + div{
        background-color: black;
      }
    }
  }
}