.my-header {
  display: flex;
  height: $header-height;
  padding: $header-padding;
  flex-direction: row;

  .logo {
    height: 100%;
    align-self: center;

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: $header-height;
    }

  }

  .links {
    margin-top: 10px;
  }
}