.contacts {
  display: flex;
  flex-wrap: wrap;

  a {
    text-decoration: underline;
  }

  > img {
    height: calc(#{$page-min-height} - 20px);
  }

  h1 {
    margin-right: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 9vw;
    text-transform: uppercase;
  }

  .info {
    font-size: 20px;
  }
}

//media queries
@media only screen and (max-width: 730px)
{
  .contacts {
    flex-direction: column;

    > img {
      height: 330px;
    }
  }
}