.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px;

  a {
    text-decoration: underline;
  }

  > img {
    height: calc(#{$page-height} - #{$footer-height} * 2);
  }

  h1 {
    margin-right: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 9vw;
    text-transform: uppercase;
  }

  .info {
    font-size: 20px;
  }
}

//media queries
@media only screen and (max-width: 567px)
{
  .contacts {
    flex-direction: column;
  }
}