$wrapper-link-size: 40px;

.links {
  text-align: center;
  
  .wrapper {
    margin: 10px;
    margin-top: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $wrapper-link-size;
    width: $wrapper-link-size;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 10px;

    svg {
      fill: grey;
    }

    &:hover svg {
      fill: white;
    }

    &.facebook:hover {
      background-color: darkblue;
    }

    &.instagram:hover {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }
  }
}