$wrapper-link-size: 40px;

.links {
  text-align: center;
  
  .wrapper {
    position: relative;
    margin: 10px;
    margin-top: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $wrapper-link-size;
    width: $wrapper-link-size;
    border-radius: 50%;
    box-shadow: 0px 1px 10px;

    svg {
      fill: grey;
    }

    &:hover svg {
      fill: white;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      content: '';
      z-index: -1;
      opacity: 0;
      background-color: white;
      transition: opacity 0.75s ease-in-out;
    }

    &.facebook:hover {
      &::before {
        opacity: 1;
        background-color: darkblue;
      }
    }

    &.instagram:hover {
      &::before {
        opacity: 1;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      }
    }
  }
}