.intro {

  .title {
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 9vw;
    text-transform: uppercase;
  }

  .corpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    text-align: justify;

    > * {
      padding: 10px;
    }

    img {
      max-height: 300px;
    }

    p {
      margin: 0;
      min-width: 200px;
      max-width: 320px;

      &::first-letter {
        font-size: 200%;
        font-weight: 800;
      }

      span {
        padding: 10px;
      }
    }
  }
}