.intro {

  .title {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 9vw;
    text-transform: uppercase;
  }

  .corpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    > * {
      padding: 10px;
    }

    img {
      max-height: 300px;
    }

    p {
      margin: 0;
      min-width: 200px;
      max-width: 320px;
      text-indent: 2em;
      line-height: 1.4;
      word-spacing: 2px;

      span {
        font-size: 16px;
        font-weight: 800;
      }
    }
  }
}