// Variables
$header-height: 80px;
$header-padding: 10px;
$footer-height: 20px;

// Page Calcs
$page-header-height: calc(#{$header-height} + #{$header-padding} * 2); //take into account paddijng
$page-min-height: calc(100vh - #{$page-header-height} - #{$footer-height});